article, aside, figure, figcaption, hgroup, footer, header, nav, section, video, object {
    display: block;
}
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.wrap {
    margin: 0 auto;
    width: 1170px;
    text-align: left;
    position: relative;
    max-width: 96%;
}
body {
    font: 14px/1.42 'Raleway',Arial,Helvetica,sans-serif;
    text-align: center;
    color: #444;
    background: #DECEB9 url(../images/bgr/body.jpg) 0 0 repeat;
    overflow-x: hidden;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
}
html {
    overflow-y: scroll;
    -webkit-text-size-adjust: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: #FF7A73;
}
<<<<<<< HEAD
=======

.navbar {
    background-color: #7d8d9d;
    padding: 16px;
    margin: 0;
    width: auto;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #3da1b3;
}

.foot-nav {
    background-color: #101112;
    padding: 16px;
    top: 0;
    width: auto;
}

.foot-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.foot-nav li {
    float: left;
}

.foot-nav li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}

.foot-nav li a:hover {
    background-color: #d6edf5;
}

.f-row {
    display: block;
}

.third {
    display: block;
}

input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    color: #101112;
}

::placeholder {
    color: rgb(131, 145, 160);
}

textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

select {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.add {
    background-color: #74bbfe;
    color: rgb(25, 24, 24);
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
    border-radius: 25px;
}

.add:hover {
    opacity: 1;
}

.remove {
    background-color: #74bbfe;
    color: rgb(25, 24, 24);
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
    border-radius: 25px;
}

input[type=submit] {
    background-color: #74bbfe;
    color: rgb(25, 24, 24);
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
    border-radius: 25px;
}
>>>>>>> cfebb4fcd2bf6db133d82915c7fc912021090ba9
